.body{
    margin: 0;
        background-image: url();
        background-size: 100%;
        width: 100%;
        height: 100%;
        color: black;
     
}

.titulo{
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    ;
}

.input{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.boxDeInput {
    align-items: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: hsl(212, 60%, 66%);
    display: flexbox;
    flex-direction: column;
    width: 300px;
    border-radius: 5%;
    padding: 3%;
    border: solid 3px black;}


.resultados {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 120%;
    background-color: aliceblue;
    border: solid 3px black;
    padding: 10px;
    border-radius: 10px;
    }
    
.button{
    border: solid 3px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    margin: 0.2%;
    border-radius: 10px;
}
.centro{
    display: flex;
    justify-content: center;
    align-items: center;
}