body{ 
        margin: 0;
        background-image: url();
        background-size: 100%;
        width: 100%;
        height: 100%;
        color: black;
        background-color: hsl(212, 60%, 66%);
}

.titulo{
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    ;
}

.input{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    align-items: center;
}

.boxDeInput {
    align-items: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 5%;
    padding: 3%;
    border: solid 2px black;
    justify-content: center;
    align-items: center;
}


.resultados {
    width: 470px;
    height: 240px;
    align-items: center;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 120%;
    background-color: rgb(255, 255, 255);
    border: solid 2px black;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    }
    
.button{
    border: solid 2px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    margin: 0.2%;
    border-radius: 10px;
    align-items: center;
}