body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
   background-image: url(../css/remedio2.webp);
    
    /* background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(16, 50, 163), white); */
}

.aqui a{
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.329);
}

.header {
    border-bottom: 3px solid black;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container {
    justify-content: space-between;
}

.titulo {
    color: rgb(0, 68, 255);
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 420px;
    justify-content: space-between;
    
    align-items: center;
    text-decoration: none;
}

a {
    color: rgb(0, 68, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(247, 13, 13);

}

button {
    margin-top: 13px;
    border: none;
    color: #064186;
    font-size: 25px;
width: 134px;
   height: 35px;
   margin-left: 28%;
   border-radius: 5%;
}




.bar li:hover{
    background-color: #87cefa;
    color: #1077ec;
    transition: 0.5s;
    transform: scale(105%,105%);

}

.bar li {
    background-color: #87cefa;
}
.bar button:hover{
    background-color: #87cefa;
    text-decoration: underline;
   color: #1077ec;
    transition: 0.5s;
    transform: scale(105%,105%);

}
.grafico {
    display: flex;
    justify-content: space-around;
}

/* GUIA  */

.conteudo {
    display: flex;

}

.guia {
    display: flex;
    flex-direction: column;
    border-right: 3px solid black;
    height: 100vh;
 width: 25%;
    background-color: #064286;
}

.nome {
    margin-bottom:120px ;
    padding-top: 16%;
    text-align: center;
    height: 27%;
    background-color: #064186;
   
}

.nome h1 {
    margin: 0;
    margin: auto;
    width: 70%;
    font-size: 25px;
    color: white;
    text-shadow: 0px 0px 10px black;
}

.nome img {
    margin-top: 70px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.64);
    margin-bottom: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    height: 60%;
}

.bar {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    height: 100%;
    justify-content: center;
    background-color: #064186;
    
}

.bar li {
    text-align: center;
    margin: 10px 30px;
    padding: 5px 0px;

    border: 3px solid #064186;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 0px 10px #064286bb;
}
/* SAIR */
.nome li {
    list-style: none;
    text-decoration: none;
    text-align: center;
    margin: 10px 30px;
    padding: 5px 0px;
}

li a {
    font-size: 25px;
    color: #064186;
}

li a:hover {
    color: #1077ec;
}

.nome li a span {
    padding-right: 5px;
}

.grafico {
    display: flex;
    width: 550px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.graficoMenu {
    margin-top: 20px;
}

.graficoMenu h3 {
    margin-bottom: 20px;
}

.menu {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    /* padding-top: 15px; */
}

.cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10%;
    margin-left: 10%;
}

.descricao {
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.notificacao {
    display: flex;
    height: fit-content;
    justify-content: end;
}


.informacao {
    width: 220px;
    height: 70px;
    display: flex;
    background-color: white;
    padding: 20px;

    border-radius: 50px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    background-color:red ;
}
.informacao h3 {
    font-size: 12px; /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: normal; /* Ajuste o peso da fonte, se necessário */
}
.informacao_alerta{
    width: 300px;
    height: 70px;
    display: flex;
    background-color: white;
    padding: 20px;
   
    border-radius: 50px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.verde {
    color: rgb(50 , 255, 40);
    font-size: 23px;
}

.vermelho {
    color: rgb(255, 40, 40);
    font-size: 23px;
}

#alerta {
   display: flex;
   flex-direction: row;
    position: relative;
  width: 100%;
justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.mensagem-alarme {
    height: 90px;
    width: 200px;
    border-radius:20% ;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Reduz a sombra */
    transition: background-color 0.3s ease, color 0.3s ease;
    flex-direction: column;
    background-color:red ;
}

.mensagem-alarme.critical {
    background-color: red;
    color: #721c24;
}

.mensagem-alarme.critical .informacao {
    background-color: red;
    color: #721c24;
}

.mensagem-alarme.critical h3 {
    color: #ffffff; /* Texto branco para maior contraste */
}

.mensagem-alarme.critical .alarme-sino {
    color: #ffffff; /* Ícone sino em branco para maior contraste */
}
.mensagem-alarme.critical .alarme-sino:hover {
    opacity: .75;
}
.mensagem-alarme img{
    margin-left:85px ;
    align-items: center;
    display: flex;
    justify-content: center;
}
.mensagem-alarme .informacao {
    position: relative;
    padding: 8px; 
    border-radius: 6px;
}

.mensagem-alarme .informacao h3,
.mensagem-alarme .informacao h5 {
    margin-right: 20px;
font-size: 15px;
   
  
}

.mensagem-alarme .informacao small {
    
    color: #000;
}

.mensagem-alarme .alarme-sino {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.mensagem-alarme.critical {

    background-color: red;
    color: #721c24;
}

.mensagem-alarme.warning {
    background-color: #fff3cd;
    color: #856404;
}

.mensagem-alarme.normal {
    background-color: #d4edda;
    color: #155724;
}


/* RISCO */

.grafico_dash {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.grafico_dash h1 {
    text-align: center;
    color: white;
    background-color: #064186;
    border: 2px solid black;
    width: fit-content;
    margin: auto;
    padding: 10px 100px;
    text-shadow: 0px 0px 5px black;
    border-radius: 5px;
}

.dash-grafico {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.geladeira {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 260px;
    justify-content: space-between;
    padding: 20px;
    margin: 0px 15px;
    margin-bottom: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.492);
}

.geladeiraRisco {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    justify-content: space-between;
    padding: 20px;
    margin: 0px 15px;
    margin-bottom: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.492);
}

h3 {
    text-align: center;
    margin-top: 0;
    font-size: 25px;
}

/*ENTRAR EM CONTATO*/

.contato {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 35px;
    justify-content: center;
    align-items: center;
}

.contato textarea {
    margin: 10px 0px;
    width: 500px;
    border: 2px solid #064186;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px #0642869a;
}

.contato span {
    font-size: 30px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.329);
}

.contato button {
    color: #064186;
    border: 2px solid #064186;
    border-radius: 10px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    width: fit-content;
    align-self: center;
    padding: 0px 20px;
}

.contato button:hover {
    color: #1077ec;
    cursor: pointer;
    
}

/* AVISO */

.caixa {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aviso {
    text-align: center;
}

.aviso span {
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    height: fit-content;
    margin-top: 50px;
}

.subaviso {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    height: fit-content;
    margin-top: 50px;
    height: 40px;
}

.alerta a {
    color: rgb(255, 40, 40);
    text-decoration: none;
}

/* parametros */

.dash {
    width: 70%;
    position: relative;
    top: 0;
    left: 20%;
    height: 80%;
    overflow: auto;
    margin-right: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .area-parametros-alerta {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    background-color: transparent;
    backdrop-filter: blur(80px);
  }
  
  .area-parametros-alerta .titulo-legenda {
    color: rgb(0, 0, 0);
    font-weight: 600;
    width: fit-content;
    margin: 10px 20px;
  }
  
  .parametros-alerta {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
  }
  
  .item-regua {
   
    width: 70%;
    text-align: center;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  
  .item-regua p {
    margin: 0;
    font-weight: 500;
  }
  
  .item-regua p:nth-child(2) {
    font-weight: 800;
  }
  
  .perigo-frio {
    background-color: #42a5f5;
  }
  
  .perigo-quente {
    background-color: #ff7043;
  }
  
  .alerta-frio {
    background-color: #5c6bc0;
  }
  
  .alerta-quente {
    background-color: #ffee58;
  }
  
  .ideal {
    background-color: #9ccc65;
  }
     /*CHAT */


     .chat {
        height: 100%;
        display: flex;
    }
    
    .box {
        padding: 10px;
       width: 60rem;
       height: 40rem;
        display: flex;
        flex-direction: column;
        background-color: #064286ab;
        border-radius: 20px;
        margin-left: 15rem;
    }
    
    .social {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .social .titulo  {
        margin-top: 3%;
        font-size: 30px;
        font-weight: bold;
        color: #ffffff;
    }
    
    .bonequinho {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .bonequinho img {
        width: 180px;
    }
    
    .mensagem {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-top: auto;
        margin-bottom: 30px;
    }
    
    .input {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: auto;
        border: 1px solid #aaa;
        border-radius: 10px;
        background-color: white;
    }
    
    .input_pergunta {
        width: 100%;
        height: 50px;
        padding: 0 10px;
        border: none;
        border-radius: 10px;
        color: black;
    }
    
    .pesquisa {
        width: 30px;
        height: 30px;
      

    }
    .pesquisa img{
        display: flex;
        justify-content: flex-end;
    }
    
    .cards {

        display: flex;
        gap: 30px;
    }
    
    .cards div {
        margin-top: 130px;
        width: 200px;
        flex: 1;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .titulo_Menu{
        font-size: 35px;
        text-align: center;
    color: white;
    background-color: #064186;
    border: 2px solid black;
    margin: auto;
    padding: 10px 100px;
    text-shadow: 0px 0px 5px black;
    border-radius: 5px;
    width:500px;
    margin-bottom: 5px;
    }
    .container_IA{
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .body_IA{
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #87cefa;
        width: 1425px;
    }
    .box_IA{
        margin-top:5%;
    margin-left: 30px;
        padding: 0;
        width: 70rem;
        height: 40rem;
         display: flex;
         flex-direction: column;
         background-color: #064286ab;
         border-radius: 20px;
         margin-left: 15rem;
    }
    .resposta {
        text-align: center;
        font-size: 25px;
        color: white;
        padding: 0;
        width: 45rem;
        height: 22rem;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centraliza verticalmente */
        align-items: center; 
        
        border-radius: 20px;
        margin-left: 12%;
    }