body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left, rgb(42, 92, 255) , rgb(77, 119, 255), white);
}

.container {
    display: flex;
    width: 100%;
    margin: auto;
    background-color: #064186;

}

.header img {
    height: 25px;
    margin-left: 50px;
}


.header {
    border-bottom: 3px solid black;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 400px;
    justify-content: space-around;
    color: white;
    align-items: center;
    margin-right: 50px;
    text-decoration: none;
}


li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    color: #90b2daf7;
    text-decoration: none;
}

.header .container {
    justify-content: space-between;

}

h2 {
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top: 160px;
    width: fit-content;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.403);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.86);
}

.icone {
    background-color: white;
    display: flex;
    border-radius: 10px 0px 0px 10px;
}

.imagem {
    border-radius: 10px 0px 0px 10px;
    width: 270px;
    align-self: center;
    background-color: white;
}

.formulario {
   padding: 20px 40px 20px 40px; 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-left: 2px solid black;
}


input {
    height: 30px;
    width: 300px;
    justify-content: flex-end;
    align-items: end;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 0px 3px 10px;
}

#select_empresa {
    height: 30px;
    width: 100%;
    justify-content: flex-end;
    align-items: end;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 0px 5px 10px;
}

span {
    width: 310px;
}

button {
    height: 40px;
    border-radius: 10px;
    width: 100%;

    border: 1px solid black;
    background-color: white;
    color: rgb(4, 4, 53);
    font-weight: bold;
}

button:hover {
    background-color: rgb(4, 4, 53);
    color: white;
    cursor: pointer;
}

.box > .imagem {
    background-image: url(PHARMA_TEMP.png);
}

.resposta {
    font-size: 10px;
    font-weight: bold;
    color: red;
    margin: 5px 0px 5px 0px;
}