.body{
/* background-image: url(file:///home/aluno/Downloads/download.png); */
background-image: url();
background-repeat: no-repeat;
background-size: cover;
width:100%;
margin: 0;
padding: 0;
}
.navbar{
display: flex;
flex-direction:row;
list-style: none;
width: 300px;
justify-content: space-around;
color: white;
align-items: center;
background-color: #2D64C2;
}
.titulo{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: white;
}
.header{
    border-bottom: 3px solid black;
    background-color: #2D64C2;
}
.container{
display: flex;
width: 80%;
margin: auto;
background-color:#2D64C2;
}
.header .container {
    justify-content: space-between;
    flex-direction: row;
}
.rodape{
    display: flex;
    flex-direction:row;
    list-style: none;
    width: 300px;
    justify-content: end;
    color: white;
    align-items: self-end;
    background-color: #2D64C2;
    margin-bottom: 3px solid black;
    
}
.espaco{
    display: flex;
    justify-content: space-evenly;
}