body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #064186;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
    

}
    .logo {
    width: 80px; 
    margin-right: 0px; 
}
.titulo {
    color: white;

}

.header {
    border-bottom: 3px solid black;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 300px;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.header .container {
    justify-content: space-between;

}

.banner {
    padding: 40px 0;
    /* espacamento interno topo direito baixo esquerdo */
    color: black;
    height: 400px;
    background-image: url("imagens/remedio2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center;*/
}

.banner .container{
    justify-content: start;
    align-items: center;
    height: 100%;
}
.banner .container p{
    font-size: 25px;
}
.social{
    background-color: #fff;
    padding: 40px 0px;
}
.social .container{
    justify-content: space-around;
}
.card{
    width: 300px;
    text-align: center;
    border: 5px solid black;
    padding: 20px 50px;
    border-radius: 10px;

}
.card img{
    width: 100px;
}
.card h4{
    font-size: 24px;
    color: #064186;
}
.box{
    width: 300px;
    padding: 20px 50px;}
    .box h4{
        font-size: 36px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .footer{
        height: 100px;
        background-color: #064186;}

        .footer .container{
            justify-content: start;
            align-items: center;
            height: 120px;
            color: #fff;
            justify-content: space-between;
        }
    
