body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #064186;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
    

}
    .logo {
    width: 80px; 
    margin-right: 0px; 
}
.titulo {
    color: white;

}

.header {
    border-bottom: 3px solid black;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 300px;
    justify-content: space-around;
    color: white;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header .container {
    justify-content: space-between;

}

.banner {
    padding: 40px 0;
    /* espacamento interno topo direito baixo esquerdo */
    color: black;
    height: 400px;
    background-image: url("imagens/remedio2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center;*/
}


.social{
    background-image: linear-gradient(to left,white , rgb(77, 119, 255),  rgb(12, 55, 197));
    padding: 40px 0px;
}
.social .container{
    justify-content: space-around;
}
.card{
    width: 300px;
    text-align: center;
    border: 5px solid black;
    padding: 20px 50px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}
.card img{
    width: 100px;
}
.card h4{
    font-size: 24px;
    color: #000000;
}
.box{
    width: 300px;
    padding: 20px 50px;}
    .box h4{
        font-size: 36px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .footer{
        height: 100px;
        background-color: #064186;}

        .footer .container{
            justify-content: start;
            align-items: center;
            height: 120px;
            color: #fff;
            justify-content: space-between;
        }

    .fonte{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;
    }
    .card_sobrenos{
    width: 400px;
    text-align: center;
    padding: 20px 50px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .titulo_sobrenos{
font-size: 25px;

    }
.imagem_sobrenos{
    width: 400px;
    border-radius: 3%;
    border : 3px solid black;
}
