.body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #064186;
    justify-content: center;
}

.body_login_cadastro {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left, rgb(255, 255, 255) , rgb(16, 50, 163), white);
    justify-content: center;
    
}
.container {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;


}

.header {
    border-bottom: 3px solid black;
}


.header img {
    height: 35px;
    margin-left: 50px;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 400px;
    justify-content: space-around;
    color: white;
    align-items: center;
    margin-right: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.header .container {
    justify-content: space-between;



}

.banner {
    padding: 40px 0;
    /* espacamento interno topo direito baixo esquerdo */
    color: black;
    height: 400px;
    background-image: url("imagem/remedio2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center;*/
}

.banner .container {
    justify-content: start;
    align-items: center;
    height: 100%;
    justify-content: center;

}

.banner {
    font-size: 25px;
}

.social {
    background-color: white;
    padding: 40px 40px;
}

.social .container {
    justify-content: space-around;
    display: flex;

}

.card {
    width: 300px;
    text-align: center;
    border: 5px solid black;
    padding: 20px 50px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.403);


}

.card img {
    width: 100px;
}

.card h4 {
    font-size: 24px;
    color: #000000;
}

.box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: auto;
    margin-top: 200px;
    width: fit-content;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.403);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.86);
}
.box h4 {
    font-size: 36px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.icone {
    background-color: #064186;
    display: flex;
    border-radius: 0px 10px 10px 0px;
    align-items: center;
}
 
.icone_login {
    background-color: #064186;
    display: flex;
    border-radius: 0px 10px 10px 0px;
    align-items: center;
    width: 220px;
}
.footer {
    height: 100px;
    background-color: #064186;
}

.footer .container {
    justify-content: start;
    align-items: center;
    height: 120px;
    color: #fff;
    justify-content: space-evenly;
}

.fonte {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    color: #90b2daf7;
    text-decoration: none;
}

.formulario {
    padding: 20px 40px 20px 40px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid black;
 }
 
 
 input {
     height: 30px;
     width: 300px;
     justify-content: flex-end;
     align-items: end;
     border: 1px solid black;
     border-radius: 5px;
     padding: 3px 0px 3px 10px;
 }
 
 #select_empresa {
     height: 30px;
     width: 100%;
     justify-content: flex-end;
     align-items: end;
     margin-bottom: 10px;
     border: 1px solid black;
     border-radius: 5px;
     padding: 0px 0px 5px 10px;
 }
 
 span {
     width: 310px;
 }
 
 button {
     height: 40px;
     border-radius: 10px;
     width: 100%;
 
     border: 1px solid black;
     background-color: white;
     color: rgb(4, 4, 53);
     font-weight: bold;
 }
 
 button:hover {
     background-color: rgb(4, 4, 53);
     color: white;
     cursor: pointer;
 }
 
 .box > .imagem {
     background-image: url(PHARMA_TEMP.png);
 }
 
 .resposta {
     font-size: 10px;
     font-weight: bold;
     color: red;
     margin: 5px 0px 5px 0px;
 }
 


 

